@font-face
  font-family 'Avenir Next LT Pro'
  font-style normal
  font-weight normal
  src local('Avenir Next LT Pro Regular'), url('./font/AvenirNextLTPro-Regular.woff') format('woff')

@font-face
  font-family 'Avenir Next LT Pro'
  font-style italic
  font-weight normal
  src local('Avenir Next LT Pro It'), url('./font/AvenirNextLTPro-Italic.woff') format('woff')

@font-face
  font-family 'Avenir Next LT Pro'
  font-style normal
  font-weight bold
  src local('Avenir Next LT Pro Demi'), url('./font/AvenirNextLTPro-Demi.woff') format('woff')

@font-face
  font-family 'Avenir Next LT Pro'
  font-style italic
  font-weight bold
  src local('Avenir Next LT Pro DemiIt'), url('./font/AvenirNextLTPro-DemiItalic.woff') format('woff')

@font-face
  font-family 'Adelle'
  font-style normal
  font-weight normal
  src local('Adelle Light'), url('./font/Adelle-Light.woff') format('woff')

@font-face
  font-family 'Adelle'
  font-style italic
  font-weight normal
  src local('Adelle Light Italic'), url('./font/Adelle-LightItalic.woff') format('woff')

@font-face
  font-family 'Adelle'
  font-style normal
  font-weight bold
  src local('Adelle SemiBold'), url('./font/Adelle-SemiBold.woff') format('woff')

@font-face
  font-family 'Adelle'
  font-style italic
  font-weight bold
  src local('Adelle SemiBold Italic'), url('./font/Adelle-SemiBoldItalic.woff') format('woff')

@font-face
  font-family 'Fira Mono'
  font-style normal
  font-weight normal
  src local('Fira Mono Regular'), url('./font/FiraMono-Regular.ttf') format('ttf')

@font-face
  font-family 'Fira Mono'
  font-style normal
  font-weight bold
  src local('Fira Mono Bold'), url('./font/FiraMono-Bold.ttf') format('ttf')

/* CodeMirror Dracula theme */
:root
  --bg-color #fbfbfb
  --text-color #333
  --md-char-color #b4b4b4
  --meta-content-color #757575
  --table-border-color #b4b4b4
  --primary-color #db4d52
  --primary-btn-border-color #be2f34
  --primary-btn-text-color #333
  --window-border 1px solid #16161a
  --active-file-bg-color #16161a
  --active-file-text-color inherit
  --active-file-border-color #757575
  --active-search-item-bg-color #23242b
  --side-bar-bg-color #2e3235
  --item-hover-bg-color #ececec
  --item-hover-text-color inherit
  --search-select-text-color #333
  --search-select-bg-color #db4d5270
  --rawblock-edit-panel-bd #d0d0d0
  --monospace 'Fira Mono', 'Cousine', 'Consolas', monospace
  --node-fill #fbfbfb
  --node-border #0000001a

html, body
  font-family 'Avenir Next LT Pro', 'Lato', sans-serif

body
  font-size 1em

h1, h2, h3, h4, h5, h6
  font-family 'Adelle', 'Times New Roman', serif

p
  max-width 100%
  margin 0.5rem 0

a
  color #db4d52

del
  color #b4b4b4

mark
  padding 2px 1px
  background #d3ffa4
  color inherit

blockquote
  position relative
  margin 1rem 0 1rem 2rem
  font-family 'Adelle', 'Times New Roman', serif

blockquote::before
  content ''
  position absolute
  left -2rem
  height 100%
  width 0.25rem
  background #db4d52

code, .md-fences, tt
  font-family 'Fira Mono', 'Cousine', 'Consolas', monospace
  font-size 1rem

code
  font-size 0.9em
  border 1px solid #0000001a
  border-radius 0.25rem
  padding 0 0.125rem
  background #00000008

hr
  border-color #b4b4b4

table
  border 1px solid #b4b4b4
  margin 1rem 0

table tr:nth-child(2n)
  background #d0d0d0

thead
  background #d0d0d0

td, th
  padding 0.35rem 0.7rem
  border 1px solid #b4b4b4

#preview
  line-height 1.6
  flex 1
  padding-left 10px
  min-width 0
  overflow-y auto

#preview h1, #preview h2, #preview h3, #preview h4, #preview h5, #preview h6, #preview p, #preview pre
  width auto
  max-width 100%

#preview h3::before, #preview h4::before, #preview h5::before, #preview h6::before
  display none

#preview h1::after, #preview h2::after, #preview h3::after, #preview h4::after, #preview h5::after, #preview h6::after
  position absolute
  right calc(100% + 0.75em)
  top 0
  color #b4b4b4
  font-size 1rem
  font-weight bold
  font-variant 'small-caps'

#preview h1
  font-size 1.8rem
  margin 1rem 0

#preview h1::after
  content 'H1'
  top 0.87rem

#preview h2
  font-size 1.4rem
  margin 0.7rem 0

#preview h2::after
  content 'H2'
  top 0.43rem

#preview h3
  font-size 1.2rem
  margin 0.5rem 0

#preview h3::after
  content 'H3'
  top 0.2rem

#preview h4
  font-size 1.1rem
  margin 0.2rem 0

#preview h4::after
  content 'H4'
  top 0.07rem

#preview h5, #preview h6
  font-size 1rem
  margin 0

#preview h5::after
  content 'H5'

#preview h6::after
  content 'H6'

#preview ol, #preview ul
  padding-left 2rem
  margin 0.5rem 0

#preview ol > li, #preview ul > li
  color #db4d52

#preview ol > li > *, #preview ul > li > *
  color #333

#preview ol > li > *:not(ol):not(ul), #preview ul > li > *:not(ol):not(ul)
  padding-left 0.25rem

#preview ul
  list-style-type disc

#preview pre
  margin 0.1rem 0

#preview img
  max-width 100%
  text-align center