.el-header, .el-main, .el-footer {
    padding: 0;
    width: 100%
}

.el-container {
    height: 100%;
}

.clearfix:after {
    clear: both;
}

.el-card__header {
    padding: 5px;
}

.el-card__body {
    padding: 5px;
}
