:root
    --titleBarHeight 22px
    --editorAreaWidth 750px
    /* editor */
    /* Theme color cluster */
    --themeColor rgba(33, 181, 111, 1)
    --themeColor90 rgba(33, 181, 111, 0.9)
    --themeColor80 rgba(33, 181, 111, 0.8)
    --themeColor70 rgba(33, 181, 111, 0.7)
    --themeColor60 rgba(33, 181, 111, 0.6)
    --themeColor50 rgba(33, 181, 111, 0.5)
    --themeColor40 rgba(33, 181, 111, 0.4)
    --themeColor30 rgba(33, 181, 111, 0.3)
    --themeColor20 rgba(33, 181, 111, 0.2)
    --themeColor10 rgba(33, 181, 111, 0.1)
    --highlightThemeColor var(--themeColor)
    --highlightColor rgba(33, 181, 111, 0.4)
    --selectionColor rgba(0, 0, 0, 0.1)
    --editorColor rgba(0, 0, 0, 0.7)
    --editorColor80 rgba(0, 0, 0, 0.8)
    --editorColor60 rgba(0, 0, 0, 0.6)
    --editorColor50 rgba(0, 0, 0, 0.5)
    --editorColor40 rgba(0, 0, 0, 0.4)
    --editorColor30 rgba(0, 0, 0, 0.3)
    --editorColor10 rgba(0, 0, 0, 0.1)
    --editorColor04 rgba(0, 0, 0, 0.03)
    --editorBgColor rgba(255, 255, 255, 1)
    --deleteColor #ff6969
    --iconColor #6B737B
    --codeBgColor #d8d8d869
    --codeBlockBgColor rgba(0, 0, 0, 0.03)
    --footnoteBgColor rgba(0, 0, 0, 0.03)
    --inputBgColor rgba(0, 0, 0, 0.06)
    --focusColor var(--themeColor)
    --buttonFontColor var(--editorColor)
    --buttonBgColor #ffffff
    --buttonBorder 1px solid #dcdfe6
    --buttonShadow none
    --buttonFontColorHover var(--buttonFontColor)
    --buttonBgColorHover linear-gradient(#f9f9f9, #f2f2f2)
    --buttonBorderHover var(--buttonBorder)
    --buttonFontColorActive var(--buttonFontColor)
    --buttonBgColorActive #f0f0f0
    --buttonBorderActive var(--buttonBorder)
    --buttonFocusBorder 1px solid var(--themeColor)
    --buttonPrimaryFontColor #ffffff
    --buttonPrimaryBgColor var(--themeColor)
    --buttonPrimaryBorder none
    --buttonPrimaryShadow 0 0 8px 0 rgba(0, 0, 0, 0.1)
    --buttonPrimaryFontColorHover var(--buttonPrimaryFontColor)
    --buttonPrimaryBgColorHover var(--buttonPrimaryBgColor)
    --buttonPrimaryBorderHover var(--buttonPrimaryBorder)
    --buttonPrimaryFontColorActive var(--buttonPrimaryFontColor)
    --buttonPrimaryBgColorActive var(--buttonPrimaryBgColor)
    --buttonPrimaryBorderActive var(--buttonPrimaryBorder)
    --buttonPrimaryFocusBorder none
    --buttonPrimaryFocusShadow inset 0 0 0 1px rgba(13, 91, 55, 0.5), 0 0 0 1px var(--themeColor)
    --tableBorderColor #e5e5e5
    /* app */
    --sideBarColor rgba(0, 0, 0, 0.6)
    --sideBarIconColor var(--iconColor)
    --sideBarTitleColor rgba(0, 0, 0, 1)
    --sideBarTextColor rgba(0, 0, 0, 0.4)
    --sideBarBgColor rgba(242, 242, 242, 0.9)
    --sideBarItemHoverBgColor rgba(0, 0, 0, 0.03)
    --itemBgColor rgba(255, 255, 255, 0.6)
    --floatFontColor rgba(0, 0, 0, 0.6)
    --floatBgColor #fff
    --floatHoverColor rgba(0, 0, 0, 0.04)
    --floatBorderColor rgba(0, 0, 0, 0.1)
    --floatShadow rgba(15, 15, 15, 0.03) 0px 0px 0px 1px, rgba(15, 15, 15, 0.04) 0px 3px 6px, rgba(15, 15, 15, 0.05) 0px 9px 24px
    --maskColor rgba(232, 232, 232, 0.8)
    /* Notification colors */
    --notificationPrimaryColor #ffffff
    --notificationPrimaryBg var(--themeColor)
    --notificationInfoColor #ffffff
    --notificationInfoBg #909399
    --notificationWarningColor #ffffff
    --notificationWarningBg #ff8800
    --notificationErrorColor #ffffff
    --notificationErrorBg #ff6969

article, aside, blockquote, body, button, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, section, td, textarea, th, ul
    margin 0
    padding 0

*
    margin 0
    padding 0
    box-sizing border-box

.ant-layout-header, .ant-layout-content, .ant-layout-footer
    padding 0
    overflow-x hidden

.ant-layout
    height 100%

.clearfix:after
    clear both

.a-card__header
    padding 5px

.a-card__body
    padding 5px

input, button, select, textarea
    outline none
    -webkit-appearance none
    border-radius 0
    border 0

textarea
    resize none

input
    background-color transparent

.container
    display flex
    flex-direction row
    flex 1
    flex-basis auto
    box-sizing border-box
    min-width 0
    height 100%

.main
    display block
    flex 1
    flex-basis auto
    overflow auto
    box-sizing border-box